/*======================== configurações gerais ====================*/

body {
    width: 100%;
    height: 70rem;
    background-color: #D4EDFC;
}

@font-face {
    font-family: fonte01;
    src: url(fonts/AMATICSC-BOLD.TTF)
}

@font-face {
    font-family: fonte02;
    src: url(fonts/SEGUIEMJ.TTF)
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(120%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(120%);
    }
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #FFED00;
}

::-webkit-scrollbar-thumb {
    background-color: #1D1D1B;
}


/*===================== Barra de navegação =======================*/

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar-collapse {
    width: 60%;
    flex-grow: 0;
    text-align: center;
}

.navbar-brand img {
    width: auto;
    height: 3rem;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-nav a {
    font-family: fonte01;
    color: #16181b !important;
    font-size: 2rem;
}

.navbar-nav a:hover {
    transform: scale(1.1);
}

/* ========================== botão do whatsapp =============================*/

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 5px 5px 2px #888;
    z-index: 1000;
    animation: pulse 0.9s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.whatsapp-link:hover {
    transform: scale(1.2);
    animation: none;
}

.whatsapp-link img {
    height: 40px;
}


/* CUSTOMIZA O CAROUSEL
-------------------------------------------------- */
.carousel-control-next, .carousel-control-prev {
    color: #1D1D1B;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel .btn {
    font-family: fonte02;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px 2px #888;
}

.carousel .btn:hover {
    transform: scale(1.1);
}

.carousel h1 {
    font-family: fonte01;
    color: #1D1D1B;
    font-size: 9rem;
}

.carousel p {
    font-family: fonte02;
    color: #1D1D1B;
    font-size: 2rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 40rem;
    background-color: #D4EDFC;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 40rem;
}

/* ========================== responsivo =============================*/

@media screen and (max-width: 1012px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-nav a {
        font-size: 1.5rem;
    }

    .carousel h1 {
        font-size: 5rem;
    }
    
    .carousel p {
        font-size: 1.5rem;
    }

    .carousel .btn {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 467px) {
    .navbar-nav a {
        font-size: 2.2rem;
    }
}