/*======================== configurações gerais ====================*/

body {
    width: 100%;
    height: 70rem;
    background-image: url("../img/bg-coton.png");
    background-size: cover;
}

@font-face {
    font-family: fonte01;
    src: url(fonts/AMATICSC-BOLD.TTF)
}

@font-face {
    font-family: fonte02;
    src: url(fonts/SEGUIEMJ.TTF)
}


/*===================== Barra de navegação =======================*/

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar-collapse {
    width: 60%;
    flex-grow: 0;
    text-align: center;
}

.navbar-brand img {
    width: auto;
    height: 3rem;
}

.navbar-brand img:hover {
    transform: scale(1.3);
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-nav a {
    font-family: fonte01;
    color: #16181b !important;
    font-size: 2rem;
}

.navbar-nav a:hover {
    transform: scale(1.3);
}

/* ========================== responsivo =============================*/

@media screen and (max-width: 992px) {
    .navbar {
        justify-content: space-between;
    }

}